@font-face {
    font-family: 'PirateOne';
    src: url('/fonts/PirataOne-Gloomhaven.eot');
    src: url('/fonts/PirataOne-Gloomhaven.woff2') format('woff2'),url('/fonts/PirataOne-Gloomhaven.woff') format('woff'), url('/fonts/PirataOne-Gloomhaven.ttf') format('truetype'), url('/fonts/PirataOne-Gloomhaven.svg') format('svg');
}

:root {
    font-size: 1rem;
}

html {
    font-family: 'PirateOne', Nyala, Georgia, serif;

    &, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
    }

    * {
        box-sizing: border-box;
    }


    a {
        text-decoration: none;
        color: #fff;
        transition: 0.5s;

        &:hover {
            color: #be514f;
        }
    }

    .header {
        position: relative;
        display: flex;
        background-image: url('/img/plank.jpg');
        border-bottom: 1px solid black;
        box-shadow: 0 5px 40px 0 black;
        z-index: 4;
        min-height: 3.4rem;

        .menu {
            &:before {
                content: "";
                font-size: 3rem;
                color: #ccc;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                cursor: pointer;
                position: relative;
                left: 1rem;
                top: 0.3rem;
                font-family: serif;
                display: block;
                width: 45px;
                height: 45px;
                background-image: url("/img/icons.png");
                background-size: 256px;
                background-position: -90px -45px;
                filter: invert(100%) drop-shadow(2px 1px 0 black);
                transition: 0.2s;
                z-index: 5;
            }

            nav {
                position: absolute;
                z-index: 4;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
                background-image: url('/img/plank.jpg');
                border: 2px solid #222;
                background-size: 190%;
                top: 4rem;
                left: 1.2rem;
                font-size: 1.4rem;
                color: #aaa;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                padding: 1rem;
                border-radius: 0.5rem;

                &:after {
                    content: '';
                    border: solid #222;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(225deg);
                    width: 5px;
                    position: absolute;
                    left: 0.7rem;
                    height: 5px;
                    top: -0.5rem;
                    background-image: url("/img/plank.jpg");
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        cursor: pointer;
                        margin-bottom: 0.4rem;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }

            &.show {
                &:before {
                    filter: invert(75%) drop-shadow(2px 1px 0 black);
                }

                nav {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        header {
            flex: 1;
            text-align: center;
            align-self: center;
            font-size: 2rem;;
            color: #aaa;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            position: relative;

            .number {
                margin-right: 1rem;

                &:before {
                    content: '# ';
                }
            }
        }
    }

    .content {
        display: flex;
        width: 100vw;
        flex-direction: column;
        height: 100%;

        .main {
            flex: 1;
            overflow: hidden;
            display: flex;

            .action-list {
                flex-grow: 1;
                flex-shrink: 0;
                height: 100%;
                display: flex;
                position: relative;
                overflow: hidden;
                background-image: url("/img/bg.jpg");
                box-shadow: 10px 0px 40px 10px rgba(0, 0, 0, 0.75);
                padding-right: 26px;

                .sidebar-wrapper {
                    z-index: 3;
                    box-shadow: 25px 0px 25px -5px rgba(0, 0, 0, 0.75);
                    margin-right: 15px;
                    width: 85px;

                    nav {
                        width: 110px;
                        height: 100%;
                        overflow: hidden;
                        background-image: url("/img/bg.jpg");
                        background-repeat: repeat;
                        background-attachment: local;
                        mask-image: url('/img/page-mask.png');
                        mask-type: alpha;
                        mask-position: top right;
                        mask-repeat: repeat-y;

                        ul {
                            list-style: none;
                            padding: 0 0 0 17px;
                            margin: 0;
                            height: 100%;
                            width: 90px;
                            overflow: auto;
                            overflow-x: hidden;
                            scrollbar-width: thin;

                            li {
                                display: inline-block;
                                padding: 5px 10px;
                                transition: all 0.25s;
                                background-image: url('/img/icons.png');
                                font-size: 0;
                                text-indent: -9999rem;
                                width: 45px;
                                height: 45px;
                                background-size: 256px;
                                cursor: pointer;

                                &:hover {
                                    filter: drop-shadow(0 0 5px #aaa);
                                }

                                &.active {
                                    filter: drop-shadow(0 0 5px #93292e);
                                }

                                &.move-piece {
                                    background-position: -45px -45px;
                                }

                                &.kill-piece {
                                    background-position: -135px 0;
                                }

                                &.loot {
                                    background-position: 0 -45px;
                                }

                                &.move-overlay {
                                    background-position: -180px 0;
                                }

                                &.destroy-overlay {
                                    background-position: -45px 0;
                                }

                                &.reveal-room {
                                    background-position: 0 0;
                                }

                                &.add-piece {
                                    background-position: -90px 0;
                                }
                            }
                        }
                    }
                }

                .new-piece-wrapper {
                    width: 110px;
                    margin-left: -100px;
                    height: 100%;
                    overflow: hidden;
                    box-shadow: 50px 0px 40px 10px rgba(0, 0, 0, 0.75);
                    margin-right: 9px;
                    transition: 0.5s;
                    overflow: visible;

                    &.show {
                        margin-left: 10px;
                        box-shadow: 49px 0px 40px 10px rgba(0, 0, 0, 0.75);

                        .new-piece-list {
                            ul {
                                overflow: auto;
                                overflow-x: hidden;
                            }
                        }
                    }

                    .new-piece-list {
                        height: 100%;
                        width: 140px;
                        mask-image: url('/img/page-mask.png');
                        mask-type: alpha;
                        mask-position: bottom right;
                        mask-repeat: repeat-y;
                        padding-right: 16px;
                        background-image: url("/img/bg.jpg");
                        background-repeat: repeat;
                        background-attachment: local;

                        ul {
                            list-style: none;
                            width: 120px;
                            padding: 0;
                            margin: 0;
                            height: 100%;
                            overflow: hidden;
                            overflow-x: hidden;
                            background-image: url("/img/bg.jpg");
                            background-repeat: repeat;
                            background-attachment: local;
                            scrollbar-width: thin;

                            li {
                                display: inline-block;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }

            .board-wrapper {
                height: 100%;
                width:100%;
                overflow: auto;
                background-image: radial-gradient(circle, rgba(241, 236, 232, 0.5) 31%, rgba(156, 124, 108, 0.3) 85%, rgba(81, 64, 30, 0.1) 100%), url("/img/bg.jpg");
                background-repeat: repeat;
                background-attachment: local;
                scrollbar-width: thin;
            }
        }

        footer {
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #aaa;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            font-size: 0.75rem;
            background-image: url("/img/plank.jpg");
            border-top: 1px solid black;
            box-shadow: 0 -5px 40px 0 black;
            z-index: 4;

            .credits {
                display: flex;
                flex-direction: column;
                padding: 1rem;

                .gloomCopy {
                    margin-bottom: 0.4rem;
                }
            }

            .pkg {
                padding: 1rem;
                display: flex;
                .sponsor {
                    position: relative;
                    top: -9px;
                    left: -5px;

                    .sponsor-button {
                        height: 35px;
                        width: 128px;
                        display: block;
                        border: none;
                        transform: scale(.65);
                    }
                }
            }
        }
    }
}