@font-face {
    font-family: 'PirateOne';
    src: url('/fonts/PirataOne-Gloomhaven.eot');
    src: url('/fonts/PirataOne-Gloomhaven.woff2') format('woff2'),url('/fonts/PirataOne-Gloomhaven.woff') format('woff'), url('/fonts/PirataOne-Gloomhaven.ttf') format('truetype'), url('/fonts/PirataOne-Gloomhaven.svg') format('svg');
}

:root {
    font-size: 1rem;
}

html {
    font-family: 'PirateOne', Nyala, Georgia, serif;
    box-sizing: border-box;

    &, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
    }


    a {
        text-decoration: none;
        color: #fff;
        transition: 0.5s;

        &:hover {
            color: #999;
        }
    }

    .header {
        position: relative;
        display: flex;
        background-image: url('/img/plank.jpg');
        border-bottom: 1px solid black;
        box-shadow: 0 5px 40px 0 black;
        z-index: 4;

        .menu {
            &:before {
                content: "\2630";
                font-size: 3rem;
                color: #ccc;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                cursor: pointer;
                position: relative;
                left: 1rem;
                top: -0.35rem;
                font-family: serif;
            }

            nav {
                position: absolute;
                z-index: 4;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
            }

            &.show {
                nav {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        header {
            flex: 1;
            text-align: center;
            align-self: center;
            font-size: 2rem;;
            color: #aaa;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            position: relative;
            top: -0.4rem;

            .number {
                margin-right: 1rem;

                &:before {
                    content: '# ';
                }
            }
        }
    }

    .content {
        display: flex;
        width: 100vw;
        flex-direction: column;
        height: 100%;

        .main {
            flex: 1;
            overflow: hidden;
            display: flex;

            .action-list {
                flex-grow: 1;
                height: 100%;
                display: flex;
                position: relative;
                overflow: hidden;
                background-image: url("/img/bg.jpg");
                box-shadow: 10px 0px 40px 10px rgba(0, 0, 0, 0.75);
                padding-right: 65px;

                .sidebar-wrapper {
                    z-index: 3;
                    box-shadow: 25px 0px 25px -5px rgba(0, 0, 0, 0.75);
                    margin-right: 15px;
                    width: 125px;

                    nav {
                        width: 140px;
                        height: 100%;
                        overflow: hidden;
                        background-image: url("/img/bg.jpg");
                        background-repeat: repeat;
                        background-attachment: local;
                        mask-image: url('/img/page-mask.png');
                        mask-type: alpha;
                        mask-position: top right;
                        mask-repeat: repeat-y;

                        ul {
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            height: 100%;
                            overflow: auto;
                            overflow-x: hidden;
                            scrollbar-width: thin;

                            li {
                                display: inline-block;
                                padding: 5px 10px;
                                transition: all 0.25s;

                                &.active {
                                    text-shadow: 0px 0px 4px yellow;
                                }
                            }
                        }
                    }
                }

                .new-piece-wrapper {
                    width: 110px;
                    margin-left: -120px;
                    height: 100%;
                    overflow: hidden;
                    box-shadow: 73px 0px 40px 10px rgba(0, 0, 0, 0.75);
                    margin-right: 9px;
                    transition: 0.5s;
                    overflow: visible;

                    &.show {
                        margin-left: 10px;
                        box-shadow: 49px 0px 40px 10px rgba(0, 0, 0, 0.75);

                        .new-piece-list {
                            ul {
                                overflow: auto;
                                overflow-x: hidden;
                            }
                        }
                    }

                    .new-piece-list {
                        height: 100%;
                        width: 130px;
                        mask-image: url('/img/page-mask.png');
                        mask-type: alpha;
                        mask-position: bottom right;
                        mask-repeat: repeat-y;
                        padding-right: 16px;
                        background-image: url("/img/bg.jpg");
                        background-repeat: repeat;
                        background-attachment: local;

                        ul {
                            list-style: none;
                            width: 120px;
                            padding: 0;
                            margin: 0;
                            height: 100%;
                            overflow: hidden;
                            overflow-x: hidden;
                            background-image: url("/img/bg.jpg");
                            background-repeat: repeat;
                            background-attachment: local;
                            scrollbar-width: thin;

                            li {
                                display: inline-block;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }

            .board-wrapper {
                height: 100%;
                width:100%;
                overflow: auto;
                background-image: radial-gradient(circle, rgba(241, 236, 232, 0.5) 31%, rgba(156, 124, 108, 0.3) 85%, rgba(81, 64, 30, 0.1) 100%), url("/img/bg.jpg");
                background-repeat: repeat;
                background-attachment: local;
                scrollbar-width: thin;
            }
        }

        footer {
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #aaa;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            font-size: 0.75rem;
            background-image: url("/img/plank.jpg");
            border-top: 1px solid black;
            box-shadow: 0 -5px 40px 0 black;
            z-index: 4;

            .credits {
                display: flex;
                flex-direction: column;
                padding: 1rem;

                .gloomCopy {
                    margin-bottom: 0.4rem;
                }
            }

            .pkg {
                padding: 1rem;
                display: flex;
                .sponsor {
                    position: relative;
                    top: -9px;
                    left: -5px;

                    .sponsor-button {
                        height: 35px;
                        width: 128px;
                        display: block;
                        border: none;
                        transform: scale(.65);
                    }
                }
            }
        }
    }
}