.overlay-dialog {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.25);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .dialog {
        padding: 25px;
        background-color: white;
        -webkit-box-shadow: 3px 9px 11px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 9px 11px -1px rgba(0,0,0,0.75);
        box-shadow: 3px 9px 11px -1px rgba(0,0,0,0.75);

        .scenario-form {
            input[type="number"] {
                text-align: center;
            }
        }

        .client-form {
            .split-input {
                input {
                    max-width: 90px;
                    text-align: center;
                }

                span {
                    margin: 0 15px;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }

        .character-form {
            display: flex;
            width: 75vw;
            max-width: 810px;
            flex-wrap: wrap;

            .input-wrapper {
                label {
                    font-size: 0;
                    text-indent: -99999em;
                    width: 90px;
                    height: 90px;
                    background-image: url('/img/characters/icons.png');
                    background-size: 512px;
                    filter: grayscale(100%);
                    transition: filter 0.25s, transform 0.15s;
                    position: relative;

                    &.brute {
                        background-position: -180px 1px;
                    }

                    &.tinkerer {
                        background-position: -90px -180px;
                    }

                    &.scoundrel {
                        background-position: -270px -180px;
                    }

                    &.cragheart {
                        background-position: -90px -270px;
                    }

                    &.mindthief {
                        background-position: 0 -90px;
                    }

                    &.spellweaver {
                        background-position: -270px -90px;
                    }

                    &.phoenix-face {
                        background-position: 0 0;
                    }

                    &.lightning-bolt {
                        background-position: -90px 0;
                    }

                    &.angry-face {
                        background-position: -270px 0;
                    }

                    &.triforce {
                        background-position: -360px 0;
                    }

                    &.eclipse {
                        background-position: -90px -90px;
                    }

                    &.cthulhu {
                        background-position: -180px -90px;
                    }

                    &.three-spears {
                        background-position: 0 -269px;
                    }

                    &.saw {
                        background-position: -360px -180px;
                    }

                    &.music-note {
                        background-position: -180px -180px;
                    }

                    &.concentric-circles {
                        background-position: -360px -90px;
                    }

                    &.sun {
                        background-position: 0 -179px;
                    }

                    &.selected {
                        filter: grayscale(0%) drop-shadow(1px 1px 1px black);
                    }

                    &:hover {
                        transform: scale(1.1);
                    }

                    input[type="checkbox"] {
                        visibility: hidden;
                    }
                }
            }

            .button-wrapper {
                width: 100%;
                flex-shrink: 0;
            }
        }
    }
}