@use 'mixins';

$hexWidth: 90px;
$hexHeight: 90px;

.player,
.overlay,
.monster {
    position: relative;
    width: $hexWidth;
    height: $hexHeight;
    overflow: visible;
    text-align: center;

    img {
        height: 100%;
        width: auto;
    }
}

.overlay {
    width: auto;
}

.hex-mask {
    @include mixins.mask(url('/img/hex-mask.png'), alpha, top right, 90px);
}

.summons:not(.bear) {
    img {
        position: relative;
        height: 75px;
        left: -1px;
        top: 7px;
    }

    span {
        position: absolute;
        top: 34px;
        left: 0;
        z-index: 2;
        width: 100%;
        color: #fff;
        text-shadow: 0px 0px 4px #000;
    }
}

.treasure
{
    span {
        position: absolute;
        top: 24px;
        left: 0;
        font-size: 33px;
        text-shadow: 0px 0px 4px #fff;
        color: #353535;
        display: block;
        width: 100%;
    }
}

.monster {
    span {
        position: absolute;
        top: 69px;
        left: 0;
        z-index: 2;
        display: inline-block;
        width: 100%;
    }

    &.boss span {
        color: #fff;
    }

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        @include mixins.mask(url('/img/border-mask.png'), alpha, top right, 90px);
    }

    &.normal:after {
        background-color: #fff;
    }

    &.elite:after {
        background-color: #d9c200;
    }

    &.boss:after {
        background-color: #bc1717;
    }
}

.player {
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        @include mixins.mask(url('/img/hex-border-mask.png'), alpha, top right, 90px);
    }

    &.brute:after {
        background-color: #567cc7;
    }

    &.tinkerer:after {
        background-color: #c0b37f;
    }

    &.scoundrel:after {
        background-color: #9cd750;
    }

    &.cragheart:after {
        background-color: #7c9427;
    }

    &.mindthief:after {
        background-color: #61779f;
    }

    &.spellweaver:after {
        background-color: #b562b8;
    }

    &.diviner:after {
        background-color: #84bfcf;
    }

    &.phoenix-face:after, &.bear:after {
        background-color: #a96852;
    }

    &.lightning-bolt:after {
        background-color: #d13947;
    }

    &.angry-face:after {
        background-color: #60c9f4;
    }

    &.triforce:after {
        background-color: #9a9a9a;
    }

    &.eclipse:after {
        background-color: #a099d4;
    }

    &.cthulhu:after {
        background-color: #79ceb6;
    }

    &.three-spears:after {
        background-color: #d67f19;
    }

    &.saw:after {
        background-color: #e1dfc4;
    }

    &.music-note:after {
        background-color: #df6872;
    }

    &.concentric-circles:after {
        background-color: #b562b8;
    }

    &.sun:after {
        background-color: #efc024;
    }

    &.envelope-x:after {
        background-color: #725b4c;
    }
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &[draggable="true"] {
        &:hover {
            cursor: move;
        }

        &.being-dragged {
            opacity: 0;
        }
    }
}

$tiles:
    ('a1a', -2px, 41px)
    ('a1b', -19px, 39px)
    ('a2a', -20px, 20px)
    ('a2b', -20px, 20px)
    ('a3a', -20px, 20px)
    ('a3b', -20px, 20px)
    ('a4a', -20px, 20px)
    ('a4b', -20px, 20px)

    ('b1a', -27px, -51px)
    ('b1b', -27px, -51px)
    ('b2a', -27px, -51px)
    ('b2b', -27px, -51px)
    ('b3a', -27px, -51px)
    ('b3b', -27px, -51px)
    ('b4a', -27px, -51px)
    ('b4b', -27px, -51px)

    ('c1a', -61px, -45px)
    ('c1b', -61px, -45px)
    ('c2a', -61px, -45px)
    ('c2b', -61px, -45px)

    ('d1a', -59px, -50px)
    ('d1b', -59px, -50px)
    ('d2a', -59px, -50px)
    ('d2b', -59px, -50px)

    ('e1a', 12px, -44px)
    ('e1b', 12px, -44px)

    ('f1a', -24px, -45px)
    ('f1b', -24px, -45px)

    ('g1a', -22px, -48px)
    ('g1b', -22px, -48px)
    ('g2a', -22px, -48px)
    ('g2b', -22px, -48px)

    ('h1a', 15px, -40px)
    ('h1b', 15px, -40px)
    ('h2a', 15px, -40px)
    ('h2b', 15px, -40px)
    ('h3a', 15px, -40px)
    ('h3b', 15px, -40px)

    ('i1a', -25px, -47px)
    ('i1b', -25px, -47px)
    ('i2a', -25px, -47px)
    ('i2b', -25px, -47px)

    ('j1a', -25px, -51px)
    ('j1b', -24px, -49px)
    ('j1ba', -24px, -49px)
    ('j1bb', -24px, -49px)
    ('j2a', -25px, -52px)
    ('j2b', -24px, -49px)

    ('k1a', -56px, -47px)
    ('k1b', -71px, -47px)
    ('k2a', -73px, -45px)
    ('k2b', -56px, -47px)

    ('l1a', -25px, -47px)
    ('l1b', -25px, -47px)
    ('l2a', -25px, -47px)
    ('l2b', -25px, -47px)
    ('l3a', -25px, -47px)
    ('l3b', -25px, -47px)

    ('m1a', -20px, -45px)
    ('m1b', -22px, -46px)

    ('n1a', -19px, -48px)
    ('n1b', -19px, -48px)
;

.mapTiles {
    position: relative;

    .mapTile {
        position: absolute;
        width: 75px;
        height: $hexHeight;
        overflow: visible;

        @for $i from 1 through 5
        {
            &.rotate-#{$i} {
                transform: rotate(60deg * $i);
            }
        }

        img {
            position: relative;
            transition: opacity 1s;

            @each $tile in $tiles {
                $key: nth($tile, 1);
                $left: nth($tile, 2);
                $top: nth($tile, 3);

                &.ref-#{$key} {
                    left: $left;
                    top: $top;
                }
            }
        }

        &.outline {
            img {
                opacity: 0.08;
            }
        }


        &.hidden img {
            opacity: 0;
        }
    }
}

.board {
    text-align: center;

    .row {
        display: flex;
        flex-direction: row;
        position: relative;

        @for $var from 2 through 100 {
            &:nth-child(#{$var}) {
                top: -(23px * ($var - 1));
            }
        }

        &:nth-child(even) {
            left:38px;
        }

        .cell-wrapper {
            position:relative;
            overflow: visible;
            visibility: visible;
            transition: opacity 1s;

            &.hidden {
                opacity: 0;
                visibility: hidden;
            }

            .cell {
                width: 76px;
                height: 90px;
                position:relative;
                z-index: 1;
                overflow: visible;

                .hexagon {
                    width: 90px;
                    height: 90px;
                    position: relative;
                    left: -7px;
                    touch-action: none;

                    > div {
                        position: absolute;
                        top: 0;
                        left:0;
                    }

                    .monster, .player {
                        &.out-of-phase {
                            opacity: 0.5;
                        }

                        &:not(:only-child) {
                            transform: scale(0.85);
                        }
                    }

                    .overlay {
                        &:after {
                            content: '';
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        &.start-location {
                            & + .monster, & + .player {
                                transform: scale(1);
                            }
                        }

                        &.diagonal-right {
                            transform: rotate(120deg);
                        }

                        &.diagonal-right-reverse {
                            transform: rotate(300deg);
                        }

                        &.diagonal-left {
                            transform: rotate(60deg);
                        }

                        &.diagonal-left-reverse {
                            transform: rotate(240deg);
                        }

                        &.horizontal {
                            transform: rotate(180deg);
                        }

                        &.treasure
                        {
                            transform: scale(0.5);
                            left: 20px;
                            top: 20px;

                            &[data-index]:after {
                                content:attr(data-index);
                                display:block;
                                position:absolute;
                                top: 10px;
                                left: 0;
                                width:100%;
                            }

                            &:first-child {
                                transform: scale(1);
                                left: 0;
                                top: 0;
                            }
                        }

                        &.corridor + .treasure {
                            transform: scale(1);
                            left: 0;
                            top: 0;
                        }

                        img {
                            width: auto;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}