@use 'mixins';

html
{
    .content.scenario-creator {
        .main {
            .page-shadow {
                height: 100%;
                width: 1rem;
                -webkit-box-shadow: 5px 0px 15px 9px rgba(0,0,0,0.65);
                -moz-box-shadow: 5px 0px 15px 9px rgba(0,0,0,0.65);
                box-shadow: 18px 0px 35px 9px rgb(0, 0, 0);
                position: absolute;
                left: 7.1rem;
                z-index: 1;
            }

            .action-list {
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: flex-start;
                padding-bottom: 1rem;
                @include mixins.mask(url('/img/page-mask.png'), alpha, top right);
                @include mixins.mask-repeat(repeat-y);

                section {
                    display: flex;
                    flex-direction: column;
                    min-height: 0;
                    flex-basis: 3rem;
                    width: 100%;
                    transition: flex-basis 0.25s;

                    header {
                        flex-basis: 1rem;
                        padding: 0.2rem 0 0.75rem 1rem;
                        background-image: url('/img/accordian-banner.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position-y: -0.5rem;
                        color: #fff;

                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 1.7rem;
                            -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
                            -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
                            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
                            left: 0;
                            z-index: -1;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    ul {
                        list-style: none;
                        visibility: hidden;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        -webkit-box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.75);
                        box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.75);
                        width: 8.2rem;
                        text-align: center;

                        li {
                            padding: 0.2rem 1.2rem;

                            img {
                                max-width: 38px;
                            }

                            &.size-3 {
                                img {
                                    position: relative;

                                    &:first-child, &:nth-child(2) {
                                        top: 31px;
                                    }

                                    &:last-child {
                                        top: -52px;
                                    }
                                }
                            }
                        }

                        &.map-tiles {
                            li {
                                img {
                                    max-width: 90px;
                                }
                            }
                        }

                        &.monsters {
                            li {
                                div.monster {
                                    position: relative;
                                    max-width: 38px;
                                    mask-size: 38px;
                                    height: auto;
                                    display: inline-block;

                                    &:after {
                                        display: none;
                                    }

                                    img {
                                        max-width: 38px;
                                        height: auto;
                                    }

                                    span {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }


                    &.active {
                        flex-basis: 100%;

                        ul {
                            overflow-y: scroll;
                            visibility: visible;
                        }
                    }
                }
            }

            .board-wrapper {
                margin-left: 8.1rem;
            }
        }
    }
}