@use 'mixins';

html
{
    .content.scenario-creator {
        header {
            .title {
                input {
                    text-align: center;
                    font-size: 2rem;
                    color: #aaa;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    font-family: "PirateOne", Nyala, Georgia, serif;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    width: 38rem;

                    &:focus {
                        outline: grey solid 1px;
                    }

                    &::placeholder {
                        opacity: 1;
                    }
                }
            }
        }
        .main {
            .page-shadow {
                height: 100%;
                width: 1rem;
                -webkit-box-shadow: 5px 0px 15px 9px rgba(0,0,0,0.65);
                -moz-box-shadow: 5px 0px 15px 9px rgba(0,0,0,0.65);
                box-shadow: 18px 0px 35px 9px rgb(0, 0, 0);
                position: absolute;
                left: 7.1rem;
                z-index: 1;
            }

            .action-list {
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: flex-start;
                padding-bottom: 1rem;
                width: 10.5rem;
                @include mixins.mask(url('/img/page-mask.png'), alpha, top right);
                @include mixins.mask-repeat(repeat-y);

                section {
                    display: flex;
                    flex-direction: column;
                    min-height: 0;
                    flex-basis: 4rem;
                    width: 100%;
                    transition: flex-basis 0.25s;

                    header {
                        flex-basis: 1rem;
                        padding: 0.2rem 0 0.75rem 1rem;
                        background-image: url('/img/accordian-banner.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position-y: -0.5rem;
                        color: #fff;

                        &:before {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 1.7rem;
                            -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
                            -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
                            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
                            left: 0;
                            z-index: -1;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }

                    ul {
                        list-style: none;
                        visibility: hidden;
                        margin: 0;
                        padding: 0;
                        overflow: hidden;
                        -webkit-box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.75);
                        box-shadow: inset 0px -5px 5px 0px rgba(0,0,0,0.75);
                        width: 9.6rem;
                        text-align: center;

                        li {
                            padding: 0.2rem 1.2rem;

                            img {
                                max-width: 45px;
                            }

                            &.size-3 {
                                img {
                                    position: relative;

                                    &:first-child, &:nth-child(2) {
                                        top: 31px;
                                    }

                                    &:last-child {
                                        top: -66px;
                                    }
                                }
                            }
                        }

                        &.map-tiles {
                            li {
                                img {
                                    max-width: 90px;
                                }
                            }
                        }

                        &.monsters {
                            li {
                                div.monster {
                                    position: relative;
                                    max-width: 45px;
                                    mask-size: 45px;
                                    height: auto;
                                    display: inline-block;

                                    &:after {
                                        display: none;
                                    }

                                    img {
                                        max-width: 45px;
                                        height: auto;
                                    }

                                    span {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    &.active {
                        flex-basis: 100%;

                        ul {
                            overflow-y: scroll;
                            visibility: visible;
                        }
                    }
                }
            }

            .board-wrapper {
                .board {
                    .monster {
                        span {
                            display: none;
                        }

                        .monster-visibility {
                            position: absolute;
                            width: 35px;
                            height: 35px;

                            &.two-player {
                                top: 0px;
                                left: -15px;
                                transform: rotate(32deg);
                            }

                            &.three-player {
                                top: 3px;
                                transform: rotate(61deg);
                                right: -17px;
                            }

                            &.four-player {
                                bottom: -23px;
                                left: 27px;
                            }

                            &.normal {
                                background-color: #fff;
                            }

                            &.none {
                                background-color: #000;
                            }

                            &.elite {
                                background-color: #d9c200;
                            }
                        }


                        &.boss {
                            .monster-visibility {
                                display: none;
                            }
                        }

                        &:after {
                            background-color: #bc1717;
                        }

                        &:not(.boss):after {
                            @include mixins.mask(url('/img/hex-border-mask.png'), alpha, top right, 90px);
                        }
                    }

                    .room-origin {
                        width: 76px;
                        height: 90px;
                        position: absolute;
                        top: -1.3rem;
                        transform: scale(0.5);
                        left: -1.1rem;
                        z-index: 1;

                        &:hover {
                            cursor: move;
                        }

                        &:after {
                            content: " ";
                            width: 76px;
                            height: 90px;
                            display: block;
                            background-image: url('/img/arrows-alt-solid.svg');
                            background-repeat: no-repeat;
                            background-size: 60%;
                            background-position: center;
                            position: absolute;
                            top: 0;
                        }

                        &:before {
                            content: " ";
                            width: 76px;
                            height: 90px;
                            display: block;
                            background-image: url('/img/hex-mask.png');
                            background-repeat: no-repeat;
                            background-size: 100%;
                            background-position: center;
                            filter: brightness(50);
                        }

                        &.dragging {
                            opacity: 0;

                            &:before, &:after {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}