i {
    display: inline-block;
    font-size: 0;
    text-indent: -99999em;
    margin-right: 1rem;
    height: 4.5rem;

    &.icon {
        &:before {
            content: "";
            display: block;
            width: 45px;
            height: 45px;
            background-image: url("/img/characters/icons.png");
            background-size: 256px;
            filter: contrast(0%) brightness(130%) drop-shadow(1px 1px black);
            top: 0.7rem;
            position: relative;
        }

        &.brute:before {
            background-position: -90px 1px;
            top: 0.4rem;
        }

        &.tinkerer:before {
            background-position: -45px -90px;
        }

        &.scoundrel:before {
            background-position: -135px -90px;
        }

        &.cragheart:before {
            background-position: -45px -135px;
        }

        &.mindthief:before {
            background-position: 0 -45px;
        }

        &.spellweaver:before {
            background-position: -135px -45px;
        }

        &.diviner:before {
            background-position: -90px -135px;
        }

        &.phoenix-face:before {
            background-position: 0 0;
        }

        &.lightning-bolt:before {
            background-position: -45px 0;
        }

        &.angry-face:before {
            background-position: -135px 0;
        }

        &.triforce:before {
            background-position: -180px 0;
        }

        &.eclipse:before {
            background-position: -45px -45px;
        }

        &.cthulhu:before {
            background-position: -90px -45px;
        }

        &.three-spears:before {
            background-position: 0 -135px;
        }

        &.saw:before {
            background-position: -180px -90px;
        }

        &.music-note:before {
            background-position: -90px -90px;
        }

        &.concentric-circles:before {
            background-position: -180px -45px;
        }

        &.sun:before {
            background-position: 0 -90px;
        }
    }
}