.overlay-dialog {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: fadeIn;
    animation-fill-mode: both;

    .dialog {
        padding: 45px;
        color: #aaa;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        border-image: url('/img/border.png') 0 fill;
        background-color: transparent;
        border-style: solid;
        transform: scaleX(0);
        animation-delay: 0.55s;
        animation-duration: 0.5s;
        animation-name: unroll;
        animation-fill-mode: both;
        letter-spacing: 0.1rem;
        min-width: 20rem;

        .scenario-form {
            input[type="number"] {
                text-align: center;
            }

            .file-choose {
                flex-direction: column;
                align-items: flex-start;

                button {
                    width: 100px;
                }

                span {
                    order: -1;
                    margin: 0.5rem 0;
                }
            }
        }

        .client-form {
            .split-input {
                input {
                    max-width: 5.6rem;
                    text-align: center;
                    speak-as: spell-out;
                }

                span {
                    margin: 0 0.95rem;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }

        .character-form {
            display: flex;
            width: 75vw;
            max-width: 810px;
            flex-wrap: wrap;
            padding: 1rem 5.3rem;

            .input-wrapper {
                label {
                    font-size: 0;
                    text-indent: -99999em;
                    width: 90px;
                    height: 90px;
                    background-image: url('/img/characters/icons.png');
                    background-size: 512px;
                    filter: contrast(0%) brightness(70%);
                    transition: filter 0.25s, transform 0.15s;
                    position: relative;
                    cursor: pointer;

                    &.brute {
                        background-position: -180px 1px;
                    }

                    &.tinkerer {
                        background-position: -90px -180px;
                    }

                    &.scoundrel {
                        background-position: -270px -180px;
                    }

                    &.cragheart {
                        background-position: -90px -270px;
                    }

                    &.mindthief {
                        background-position: 0 -90px;
                    }

                    &.spellweaver {
                        background-position: -270px -90px;
                    }

                    &.diviner {
                        background-position: -180px -270px;
                    }

                    &.phoenix-face {
                        background-position: 0 0;
                    }

                    &.lightning-bolt {
                        background-position: -90px 0;
                    }

                    &.angry-face {
                        background-position: -270px 0;
                    }

                    &.triforce {
                        background-position: -360px 0;
                    }

                    &.eclipse {
                        background-position: -90px -90px;
                    }

                    &.cthulhu {
                        background-position: -180px -90px;
                    }

                    &.three-spears {
                        background-position: 0 -269px;
                    }

                    &.saw {
                        background-position: -360px -180px;
                    }

                    &.music-note {
                        background-position: -180px -180px;
                    }

                    &.concentric-circles {
                        background-position: -360px -90px;
                    }

                    &.sun {
                        background-position: 0 -179px;
                    }

                    &.envelope-x {
                        background-position: -270px -270px;
                    }

                    &.selected {
                        filter: contrast(100%) brightness(100%) drop-shadow(1px 1px black);
                    }

                    &:hover {
                        transform: scale(1.1);
                    }

                    input[type="checkbox"] {
                        visibility: hidden;
                    }
                }
            }

            .button-wrapper {
                width: 100%;
                flex-shrink: 0;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes unroll {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes popIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}