html {
    .tooltip-wrapper {
        position: absolute;
        z-index: 1;
        color: white;
        background-color: rgba(0, 0, 0);
        padding: 0.4rem;
        margin-left: 1rem;
        letter-spacing: 0.12rem;
        transition: all 0.2s;
        opacity: 0;
        animation-duration: 0.5s;
        animation-name: tooltipIn;
        animation-fill-mode: both;
        animation-delay: 0.75s;

        &:after {
            width: 0.75rem;
            height: 0.75rem;
            content: '';
            display: block;
            position: absolute;
            left: -0.35rem;
            transform: rotate(45deg);
            z-index: 1;
            background-color: rgba(0, 0, 0);
            top: 0.7rem;
        }

        .tooltip-text {
            padding-left: 0.5rem;
        }
    }
}

@keyframes tooltipIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}