@mixin mask($url, $type: null, $position: null, $size: null) {
    @if ($url) {
        -webkit-mask-image: $url;
        mask-image: $url;
    }

    @if ($type) {
        -webkit-mask-type: $type;
        mask-type: $type;
    }

    @if ($position) {
        -webkit-mask-position: $position;
        mask-position: $position;
    }

    @if ($size) {
        -webkit-mask-size: $size;
        mask-size: $size;
    }
}

@mixin mask-repeat($repeat) {
    -webkit-mask-repeat: $repeat;
    mask-repeat: $repeat;
}