$hexRotation: 61deg;

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;

    &.being-dragged {
        opacity: 0.5;
    }
}

.row {
    display: flex;
    flex-direction: row;
    position: relative;


    @for $var from 2 through 100 {
        &:nth-child(#{$var}) {
            top: -(25px * ($var - 1));
        }
    }

    &:nth-child(even) {
        left:41px;
    }

    .cell {
        position: relative;
        float: left;
        width: 82px;
        height: 98px;
        transform: rotate(-$hexRotation) skewY($hexRotation/2);
        overflow: hidden;
        visibility: hidden;

        * {
            visibility: visible;
        }

        .hexagon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fdbf00;
            transform: skewY(-($hexRotation/2)) rotate($hexRotation);
            overflow: hidden;

            &.impassable {
                background-color: red;
            }

            &.passable {
                background-color: blue;
            }

            .player {
                width: 100%;
                height: 100%;
                background-color: yellow;
            }
        }
    }
}