$hexRotation: 60deg;

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;

    &.being-dragged {
        opacity: 0.5;
    }
}

.row {
    display: flex;
    flex-direction: row;
    position: relative;


    @for $var from 2 through 100 {
        &:nth-child(#{$var}) {
            top: -(25px * ($var - 1));
        }
    }

    &:nth-child(even) {
        left:38px;
    }

    .cell-wrapper {
        position:relative;
        overflow: visible;

        $tiles: 'a1a';
        @each $tile in $tiles {
            &[data-board-ref="#{$tile}"]:before {
                content:'';
                position:absolute;
                background-image: url('/img/map-tiles/#{$tile}.png');
                background-repeat: no-repeat;
                width: 1024px;
                height: 1024px;
                top: 0;
                left: -1px;
            }
        }

        &[data-board-ref="a1a"]:before {
            top: 46px;
        }

        .cell {
            width: 76px;
            height: 94px;

            .hexagon {
                width: 100%;
                height: 100%;
                clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

                .player {
                    width: 100%;
                    height: 100%;
                    clip-path:inherit;
                }
            }
        }
    }
}